

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  color: #e78f0c;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 80px;
  font-size:30px
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1.7px solid #e78f0c;
  z-index: 9;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

/* Add styles to the form container */
.form-chat {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  background: rgba(0, 0, 0, 0.42);
  margin-bottom: 55px;
}

#io{
    width:180px;
  padding: 10px;
  background-color: white;
  margin-bottom: 2%;
  border-radius: 11px;
  border-width: 1px;
  position: relative;
  top: 3px;
  left: 5px;
  font-size: 12px;
}



/* Full-width textarea */
.form-chat textarea {
  width: 90%;
  
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-chat textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-chat .btn {
margin-right: 2%;
  margin-left: 1%;
  border: none;
  cursor: pointer;
  width: 10%;
  font-size:22px;
  color: #e78f0c;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-chat .cancel {
    color: #e78f0c;
    font-size:22px;
    margin-left : 2%;
}

/* Add some hover effects to buttons */
.form-chat .btn:hover, .open-button:hover {
  opacity: 1;
}

#supporto{
	margin-top: 30px;
}


.helper-text {

    color: red;
    font-size: 12px;
}

.messaggi{
	font-size: medium;
}

#findcarrello{
	font-size: 50px;
	margin-top: 50px;
	margin-right: 50px;
	color: #e78f0c;
	
}

#carrelloimg{
	border-radius: 20px;
	width: 250px;
}

#cardcarrello{
	border-color:#e78f0c; 
}

#div-chat{
	background-color: #e78f0c;
	border-radius: 18px;
}
